<%# Conversations#show.html.erb %>
<%= turbo_frame_tag :showc, class: "d-flex flex-column h-100" do %>
  <!-- Chat Card -->
  <div class="card h-100 shadow-sm rounded-3">
    <!-- Chat Header -->
    <div class="card-header d-flex justify-content-between align-items-center p-3" style="border-top: 4px solid #6c757d;">
      <h5 class="mb-0">Chat with <%= @conversation.user1 == current_user ? @conversation.user2.username : @conversation.user1.username %></h5>
      <div class="d-flex flex-row align-items-center">
        <span class="badge bg-secondary me-3"><%= @messages.size %></span>
        <i class="fas fa-minus me-3 text-muted fa-xs"></i>
        <i class="fas fa-comments me-3 text-muted fa-xs"></i>
        <i class="fas fa-times text-muted fa-xs"></i>
      </div>
    </div>

    <%= turbo_stream_from @conversation %>

    <!-- Chat Messages Section -->
    <div id="messages" class="card-body custom-scrollbar" style="position: relative; height: 400px; overflow-y: auto;">
      <%= render @messages %>
    </div>

    <!-- Chat Input -->
    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
      <%= form_with model: [@conversation, Message.new], local: false, id: "new-message-form" do |form| %>
        <div class="input-group mb-0">
          <%= form.text_area :content, placeholder: "Type a message", class: "form-control", rows: 1 %>
          <button class="btn btn-secondary" type="submit" style="padding-top: .55rem;">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script>
document.addEventListener("turbo:load", () => {
  const messages = document.getElementById("messages");

  // Function to scroll to the bottom
  const scrollToBottom = () => {
    if (messages) {
      messages.scrollTop = messages.scrollHeight;
    }
  };

  // Scroll on page load
  scrollToBottom();

  // Scroll when a new message is rendered
  document.addEventListener("turbo:before-stream-render", (event) => {
    const targetId = event.target.getAttribute("target");
    if (targetId === "messages") {
      scrollToBottom();
    }
  });
});



</script>