<%# app/views/posts/_post.html.erb %>
<div id="<%= dom_id(post) %>" class="post">
  <h3><%= post.title %></h3>
  <p><%= post.body %></p>
  <small>Posted by: <%= post.user.email %></small>

  <h4>Comments</h4>
  <%= turbo_stream_from post %>
  <div id="<%= dom_id(post, :comments) %>">
    <%= render post.comments %>
  </div>

  <%= render 'comments/new', post: post %>
</div>
